body {
    background-color: #543864;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 45px;
   
}

.header {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 3rem;
    
    background-color: #543864;
}

.link {
    color: #ff6363;
    text-decoration: none;
}

.link:hover {
    color: #dae1e7;
}

.container {
    display: flex;
    justify-content: center;
}



   
.card {
    margin-top: 3rem;
    /* margin-left: 450px; */
    text-align: center;
    margin-bottom: auto;
   background-color: #ff6363;
}

label{
   font-size: 15px;
   
}

/* .badge{
   background-color:  #39ff14 ;
} */

.fa-user-circle {
    color:  #543864 ;
}

.fa-user-circle:hover {
    color:  black ;
}

.btn-label { 
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;}

/* .btn, .btn:active, .btn:visited {
    background-color: white;
    color: black;
} */

.btn-light:hover {
    background-color: #bc13fe;
    color: white;
}

.btn-dark:hover {
    background-color:  #543864 ;
    color: white;
}

