


<div class="card" style="width: 70rem;">
  <div class="card-header">
   <strong>ADD EMPLOYEE</strong>
  </div>
  <div class="card-body">
    
    <form  #addForm="ngForm" (submit)='add()'>
      
      <div class="row">
        <div class="col">
      <div class="form-group">
        <label for="empId" class="control-label">Employee ID</label>
        <input type="text" name="empId" pattern="[1-9][0-9]+" [(ngModel)]='employee.empId' name="empId" [ngModelOptions]="{standalone: true}" placeholder="Enter Employee Id" class="form-control .form-control-sm" id="empId" #empId="ngModel" minlength="6" maxlength="6" required/>      
        
        <span *ngIf='!empId.valid && empId.dirty && empId.touched'>
          <p style="color: #f40552" >Enter a valid employee Id</p>
        </span>
          <span *ngIf='!empId.valid && empId.touched && empId.pristine' >
            <p style="color: #f40552" >This is a required field</p>
        </span>
      </div>
        </div>

       <div class="col">
        <div class="form-group">
          <label for="empPass" class="control-label">Password</label>
          <input type="text" name="empPass"  [(ngModel)]='employee.empPass' #empPass="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Enter Password" class="form-control .form-control-sm" required id="empPass" >
          <span *ngIf='!empPass.valid && empPass.touched && empPass.pristine' >
            <p style="color: #f40552" >This is a required field</p>
        </span>
        </div>
        </div> 
       
    
    
    
      
     <div class="col">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" [(ngModel)]='employee.fname' #fname ="ngModel" pattern="^[A-Z][a-z]{2,}" [ngModelOptions]="{standalone: true}" placeholder="Enter First Name" class="form-control .form-control-sm" required id="firstname">
        <span *ngIf='!fname.valid && fname.dirty && fname.touched'>
          <p style="color: #f40552">Enter a valid name</p>
        </span>
          <span *ngIf='!fname.valid && fname.touched && fname.pristine' >
            <p style="color: #f40552">This is a required field</p>
        </span>
      </div>
    </div>
      </div>
  
       <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" [(ngModel)]='employee.lname' #lname ="ngModel" pattern="^[A-Z][a-z]{2,}" required [ngModelOptions]="{standalone: true}" placeholder="Enter Last Name" class="form-control .form-control-sm" id="lastname">
        <span *ngIf='!lname.valid && lname.dirty && lname.touched'>
          <p style="color: #f40552">Enter a valid name</p>
        </span>
          <span *ngIf='!lname.valid && lname.touched && lname.pristine' >
            <p style="color: #f40552">This is a required field</p>
        </span>
      </div>
    </div> 
     
    

    
      <div class="col">
      <div class="form-group">
        <label>Date of Joining</label>
        <input type="date" format="yyyy-MM-dd" [(ngModel)]='employee.doj' [ngModelOptions]="{standalone: true}" #doj="ngModel" required placeholder="Enter Date of Joining" class="form-control .form-control-sm" id="doj">
       
        <span *ngIf='!doj.valid && doj.pristine && doj.touched' > 
          <p style="color: #f40552">This is a required field</p>
        </span>
      </div>
      </div> 
    


     
      <div class="col">
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" format="yyyy-MM-dd" [(ngModel)]='employee.dob' [ngModelOptions]="{standalone: true}"  #dob="ngModel" required placeholder="Enter Date of Birth" class="form-control .form-control-sm" id="dob">
        <span *ngIf='!dob.valid && dob.pristine && dob.touched'>
          <p style="color: #f40552">This is a required field</p>
        </span>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="col">
      <div class="form-group">
        <label>Department</label>
       
        <input type="text" [(ngModel)]='employee.department'   [ngModelOptions]="{standalone: true}" #department="ngModel" required placeholder="Enter Department" class="form-control .form-control-sm" id="dept">
        
        <span *ngIf='!department.valid && department.touched && department.pristine' >
          <p style="color: #f40552">This is a required field</p>
      </span>
      </div>
      </div>
    

      <div class="col">
      <div class="form-group">
        <label>Grade</label>
        <select type="text" [(ngModel)]='employee.grade' [ngModelOptions]="{standalone: true}" #grade="ngModel" required placeholder="Enter Grade" class="form-control" id="grade">
          <option>M1</option>
          <option>M2</option>
          <option>M3</option>
          <option>M4</option>
          <option>M5</option>
          <option>M6</option>
          <option>M7</option>
        </select>
          <span *ngIf='!grade.valid && grade.touched && grade.pristine' >
            <p style="color: #f40552">This is a required field</p>
        </span>
          
       
       </div>
    </div>
    
      
    
      <div class="col">
      <div class="form-group">
        <label>Designation</label>
        <input type="text"  [(ngModel)]='employee.designation' [ngModelOptions]="{standalone: true}" #designation="ngModel" required pattern="[A-z]+" placeholder="Enter Designation" class="form-control .form-control-sm" id="designation">
        <span *ngIf='!designation.valid && designation.touched && designation.pristine' >
          <p style="color: #f40552">This is a required field</p>
      </span>
        
      </div>
      </div>
  </div>
    
   <div class="row">
      <div class="col">
      <div class="form-group">
        <label>Gender</label>
        <select type="text" [(ngModel)]='employee.gender' [ngModelOptions]="{standalone: true}" #gender="ngModel" required placeholder="Enter Gender" class="form-control" id="gender">
          <option>Male</option>
          <option>Female</option>
        </select> 
        <span *ngIf='!gender.valid && gender.touched && gender.pristine' >
          <p style="color: #f40552">This is a required field</p>
      </span>
         
      </div>
    </div> 
    
    
    
      <div class="col">
      <div class="form-group">
        <label>Basic Salary</label>
        <input type="number" [(ngModel)]='employee.salary' [ngModelOptions]="{standalone: true}" #salary="ngModel"  placeholder="Enter Salary" class="form-control .form-control-sm" id="salary">
        <span *ngIf='!salary.valid && salary.dirty && salary.touched'>
          <p style="color: red">Enter a valid salary</p>
        </span>
      </div>
      </div>
    
      <div class="col">
      <div class="form-group">
        <label>Marital Status</label>
        <select type="text" [(ngModel)]='employee.maritalStatus' [ngModelOptions]="{standalone: true}" #maritalStatus="ngModel" required placeholder="Enter Marital Status" class="form-control" id="maritalStat">
          <option>Single</option>
          <option>Married</option>
          <option>Divorced</option>
          <option>Widowed</option>
        </select> 
        <span *ngIf='!maritalStatus.valid && maritalStatus.touched && maritalStatus.pristine' >
          <p style="color: #f40552">This is a required field</p>
      </span>
        
      </div>
    </div>
    </div>


    <div class="row">
      <div class="col">
      <div class="form-group">
       
        <label>Address</label>
        <input type="text" [(ngModel)]='employee.address' [ngModelOptions]="{standalone: true}" #address="ngModel" placeholder="Enter Address" class="form-control .form-control-sm" id="address">
        
      </div>
      </div>


    <div class="col">
      <div class="form-group">
        <label>Manager ID</label>
        <input type="text" [(ngModel)]='employee.managerId' [ngModelOptions]="{standalone: true}" #managerId="ngModel" required minlength="6" maxlength="6" pattern="[1-9][0-9]+" placeholder="Enter Manager Id" class="form-control .form-control-sm" id="managerId">
        <span *ngIf='!managerId.valid && managerId.dirty && managerId.touched'>
          <p style="color: #f40552" >Enter a valid Manager Id</p>
        </span>
          <span *ngIf='!managerId.valid && managerId.touched && managerId.pristine' >
            <p style="color: #f40552" >This is a required field</p>
        </span>
      </div>
    </div>
     
      <div class="col">
       
      <br>
     
       <!-- <button (click)='add()' type="submit" class="btn btn-danger btn-block">Submit</button>  -->
      <button type="submit"  [disabled]='!addForm.valid'  name="add" class="btn btn-danger btn-block " style="margin-top: 5px;">Add Employee</button>
     
       
        
    
    </div>
  </div>

    </form>
  </div>
</div>  


