

<div class="container">

<!-- <div class="row">
  <div class="col"> -->


<div class="card child1" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Apply For Leave</h5>

      <form>
        <div class="form-group">
          <label for="empId">Employee ID</label>
          <input type="number" disabled="disabled" [(ngModel)]='leave.empId' [ngModelOptions]="{standalone: true}" class="form-control" id="empId"  placeholder="Enter employee Id">
         
        </div>
        <div class="form-group">
          <label for="dateOfApplication">Date of Application</label>
          <a  value="YYYY-MM-DD"  disabled="disabled" [(ngModel)]='leave.dateOfApplication' required format="YYYY-MM-DD" [ngModelOptions]="{standalone: true}" class="form-control" id="dateOfApplication" placeholder="Enter date of Application">{{leave.dateOfApplication | date:"dd-MM-yyyy"}}</a>
        </div>
        
        <div class="form-group">
            <label for="dateOfLeave">Date of Leave</label>
            <input type="date" [(ngModel)]='leave.dateOfLeave' [ngModelOptions]="{standalone: true}" class="form-control" id="dateOfLeave" placeholder="Enter date of Application" min='{{leave.dateOfApplication | date:"yyyy-MM-dd"}}'>
          </div>

          <div class="form-group">
            <label for="numberOfDays">Number of Days <span class="badge badge-primary" style="margin-left: 9px;">Balance Leave:{{12-remainingLeaves}} </span></label>
            <input type="number"  [(ngModel)]='leave.numberOfDays'  [ngModelOptions]="{standalone: true}" class="form-control" id="numberOfDays" placeholder="Enter Number of Days">  
            <!-- <span *ngIf='!numberOfDays.valid && numberOfDays.dirty && numberOfDays.touched'>
              <p style="color: #f40552">Enter valid number of days</p>
            </span>
              <span *ngIf='!numberOfDays.valid && numberOfDays.touched && numberOfDays.pristine' >
                <p style="color: #f40552">This is a required field</p>
            </span> -->
          </div>

          <div class="form-group">
            <label for="managerId">Manager Id</label>
            <input type="number" disabled="disabled" [(ngModel)]='leave.managerId' [ngModelOptions]="{standalone: true}" class="form-control" id="managerId" placeholder="">
          </div>

         

        
        <button type="button" (click)='applyForLeave()' class="btn btn-primary btn-block">Apply</button>
      </form>
     
     
    </div>
    </div>

  <!-- </div> -->
 

<!-- <div class="col"> -->
  <div class="card child2 text-black bg-warning mb-3" style="max-width: 10rem; max-height: 10rem; margin-top: 50px; ">
   
    <div class="card-body">
      <h5 class="card-title" style="font-size:40px; text-align: center;">{{remainingLeaves}}</h5>
      <p class="card-text" style="text-align: center;">Days of Leave Utilized</p>
    </div>
  </div> 
<!-- </div>
</div> -->

</div>
