
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>


<body>




  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/admin/show" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/admin/add">Add Employee</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled ">Delete All</a>
        </li>
     

        <!-- <li>
        <form class="form-inline my-2 my-lg-0">
          <input  class="form-control mr-sm-2" type="search" placeholder="Search Employee" aria-label="Search" name="empId" [(ngModel)]='employeeId'>
          <button class="btn btn-outline-warning  my-2 my-sm-0" (click)='search(empId)' type="submit">Search</button>
        </form>
        </li>  -->

      </ul>
      <a class="logout" type="submit" (click)='logout()'  data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i></a>   
    </div>
  </nav>

<router-outlet></router-outlet>



  

 

 



</body>




<!-- <input type="number" name="EmpID" [(ngModel)]='employee.empId' placeholder="Enter Employee Id"><br> 
    <input type="text" name="Fname" [(ngModel)]='employee.fname' placeholder="Enter First Name"><br>
    <input type="text" name="Lname" [(ngModel)]='employee.lname' placeholder="Enter Last Name"><br>
    <input type="date" name="DOJ" [(ngModel)]='employee.doj' placeholder="Enter Date of Joining"><br>
    <input type="date" name="DOB" [(ngModel)]='employee.dob' placeholder="Enter Date of Birth"><br>
    <input type="text" name="Dept" [(ngModel)]='employee.department' placeholder="Enter Department"><br>
    <input type="text" name="Grade" [(ngModel)]='employee.grade' placeholder="Enter Grade"><br>
    <input type="text" name="Design" [(ngModel)]='employee.designation' placeholder="Enter Designation"><br>
    <input type="text" name="Gender" [(ngModel)]='employee.gender' placeholder="Enter Gender"><br>
    <input type="number" name="Salary" [(ngModel)]='employee.salary' placeholder="Enter Salary"><br>
    <input type="text" name="MaritalStat" [(ngModel)]='employee.maritalStatus' placeholder="Enter Marital Status"><br>
    <input type="text" name="Address" [(ngModel)]='employee.address' placeholder="Enter Address"><br>
    <input type="number" name="ManagerID" [(ngModel)]='employee.managerId' placeholder="Enter Manager Id"><br>


    <button (click)='add()'>Submit</button> -->