a {
    justify-content: center;

}

table {
    margin-top: 25x;
    text-align: center;
}

.fa-trash:hover {
    color: #dc3545;
}

.fa-edit:hover {
    color: #24a0ed;
}
/* 
thead {
    font-weight: bold;
} */
.input-group {
    display: flex;
    justify-content: center;
    margin-left: 450px;
    margin-top: 15px;
    
    color: black;
}

table {
    margin-top: 50px;
}


.paginate {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate /deep/ .ngx-pagination .current {
    background: #343a40;
  }