a {
    justify-content: center;

}

table {
    margin-top: 50px;
    text-align: center;
}

.fa-trash:hover {
    color: #dc3545;
}

.fa-edit:hover {
    color: #24a0ed;
}
/* 
thead {
    font-weight: bold;
} */
