<body>
<div class="card text-white bg-dark" style="width: 35rem;">
  <div class="card-header">
  <h5>  Welcome {{employee.fname}}! </h5>
  </div>
  <ol class="list-group list-group-flush  bg-primary">
    <div class="row">
      <div class="col">
        <li class="list-group-item list-group-item-dark">Employee Id: {{employee.empId}}</li>
      </div>
      <div class="col">
        <li class="list-group-item list-group-item-dark"> Name: {{employee.fname}} {{employee.lname}} </li>
      </div>
    </div>
  
  <li class="list-group-item list-group-item-dark"> Name: {{employee.fname}} {{employee.lname}} </li>
  <li class="list-group-item list-group-item-dark"> Date of Joining: {{employee.doj}} </li>
  <li class="list-group-item list-group-item-dark"> Date of Birth: {{employee.dob}} </li>
  <li class="list-group-item list-group-item-dark"> Deprtment: {{employee.department}} </li>
  <li class="list-group-item list-group-item-dark"> Grade: {{employee.grade}} </li>
  <li class="list-group-item list-group-item-dark"> Designation: {{employee.designation}} </li>
  <li class="list-group-item list-group-item-dark"> Manager Id: {{employee.managerId}} </li>
  </ol>
</div>







</body>