<body>


<div class="bg-cover"></div>
<div class="container">
  <div class="header">
    <!-- <i class="fa fa-bars"></i>
    <i class="fa fa-cog"></i> -->
  </div>
  <div class="middle">
    <div class="avatar"><i class="material-icons" style="font-size: 100px; color: rgba(255,255,255,0.7)">&#xe853;</i></div>
    <h4 class="name">{{employee.fname}}  {{employee.lname}}</h4>
    <h4 class="work"><a data-toggle="tooltip" data-placement="right" title="Employee ID">#{{employee.empId}}</a></h4>
    <h4 class="social"> {{employee.gender}} &nbsp;&nbsp;|&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="right" title="Grade">{{employee.grade}} </a> &nbsp;&nbsp;|&nbsp;&nbsp;{{employee.maritalStatus}}</h4>
  </div>
  <div class="footer">
   <a class="btn-follow">{{employee.designation}}</a><br/>

   <div class="row">
    <div class="col">
      Date of Joining:
    </div>
    <div class="col">
      {{employee.doj}}
    </div>
   </div>
   
   <div class="row">
    <div class="col">
      Date of Birth:
    </div>
    <div class="col">
      {{employee.dob}}
    </div>
   </div>
   
   <div class="row">
    <div class="col">
      Department:
    </div>
    <div class="col">
      {{employee.department}}
    </div>
   </div>
   
   <div class="row">
    <div class="col">
      Manager Id:
    </div>
    <div class="col">
      {{employee.managerId}}
    </div>

   </div>
 



  </div>
</div>






</body>